* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container .card-wrapper {
    position: relative;
    display: grid;
    place-items: center;
    text-align: center;
    z-index: 1;
    width: 700px;
    height: 500px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    margin-bottom: 15px;
}

.container .card-wrapper h3 {
    font-size: 1.8rem;
    color: rgb(223, 7, 7);
    margin-bottom: 10px;
    position: absolute;
    top: 20px;
    z-index: 2;
}

/* Task 1 */
/* ============================================= */ 
.container .card-wrapper .content .task1 div {
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 50%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    box-shadow: -10px -10px 0px #e94363,
        10px 10px 0px #3096f3;
    background-color: #eee;
    counter-increment: number;
}

.container .card-wrapper .content .task1 div::before {
    content: "Element";
    position: absolute;
    top: 230px;
    font-size: 25px;
    font-weight: bold;
}

.container .card-wrapper .content .task1 div::after {
    content: counter(number);
    position: absolute;
    top: 137px;
    font-size: 25px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    color: white;
    background-color: black;
}

/* Task 2 */
/* ============================================= */ 
.container .card-wrapper .content .task2 p {
    width: 100px;
    height: 100px;
    background-color: #efefef;
    border-top-left-radius: 12px 30px;
    border-bottom-right-radius: 12px 30px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: inset 0 0 20px 0 #727272,
        inset 0 0 20px 0 #727272;
}

/* Task 3 */
/* ============================================= */ 
.container .card-wrapper:nth-child(3) {
    width: 550px;

}

.container .card-wrapper:nth-child(3) {
    width: 550px;
}

.child1,
.child2 {
    width: 200px;
    height: 300px;
    background-color: #eee;
    float: left;
    padding: 20px;
    position: relative;
}

.child2 {
    margin-left: 80px;
}

.ch1 {
    background-color: #2196f3;
    padding: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    height: 30px;
}

.ch2 {
    height: 150px;
    width: 150px;
    background-color: #ccc;
    position: absolute;
    border-radius: 50%;
    top: 77px;
}

.ch2::before {
    content: attr(data-inside);
    font-size: 40px;
    position: absolute;
    top: 57px;
    left: 1px;
}

.ligne {
    height: 25px;
    width: 25px;
    background-color: #2196f3;
    border-radius: 50%;
    position: absolute;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 2px;
    line-height: 23px;
    left: 265px;
    top: 240px;
}

.ligne::before {
    content: "";
    width: 2px;
    height: 138px;
    background-color: #2196f3;
    position: absolute;
    left: 11px;
    top: -138px;
}

.ligne::after {
    content: "";
    width: 2px;
    height: 138px;
    background-color: #2196f3;
    position: absolute;
    left: 11px;
    top: 25px;
}