/* Task 1 */
/* ============================================= */
/* Any Element With Class Title */
.title {
}

/* Any Element With id Title */
#nav {
}

/* Any Element */
div {
}

/* Any Element  */
h2 {
}

/* Task 2 */
/* ============================================= */
