/* Task 1 */
/* ============================================= */
.assign1 {
    width: 1000px;
    text-align: center;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
    border: 1px solid;
}

.assign1 div {
    background-color: #d7d7d7;
    margin-left: 15px;
    margin-top: 15px;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.block1 {
    width: calc((100% - 30px));
}

.block2 {
    width: calc((100% - 60px) / 3);
}

.block3 {
    width: calc((100% - 45px) / 2);
}

.block4 {
    width: calc((100% - 75px) / 4);
    margin-bottom: 15px;
}

.clear {
    clear: both;
}


/* Task 2 */
/* ============================================= */
.assign2 {
    margin-top: 10px;
    border: 1px solid;
    width: 800px;
}

.assign2 div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: grey;
    color: black;
}

.assign2 .one {
    background-color: rgba(128, 128, 128, 0.1);
}

.assign2 .two {
    opacity: 0.1;
}

h3 {
    font-size: 2rem;
    color: rgb(7, 100, 100);
    text-decoration: underline;
}