/* Task 1 */
/* ============================================= */ 
.green,
.red,
.blue,
.black {
    height: 100px;
    width: 100px;
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}

.green {
    background-color: #009b8b;
    z-index: 3;
    top: 40px;
    left: 40px;
}

.red {
    background-color: red;
    z-index: 4;
    top: 60px;
    left: 60px;
}

.blue {
    background-color: #00a6f8;
    z-index: 2;
    top: 20px;
    left: 20px;
}

.black {
    background-color: #333;
    top: 40px;
    left: 20px;
}

/* Task 2 */
/* ============================================= */ 
.part2 {
    width: 400px;
    background-color: #eee;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid;
    border-color: #f44336 #2196f3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.part2 .top-left,
.top-right,
.bottom-left,
.bottom-right {
    background-color: #2196f3;
    color: white;
    padding: 5px 15px;
    position: absolute;
}

.part2 .top-right,
.bottom-left {
    border-left: 2px solid #f44336;
}

.part2 .top-left,
.bottom-left {
    border-right: 2px solid #f44336;
}

.part2 .top-left {
    top: -15px;
    left: -20px;
}

.part2 .top-right {
    top: -15px;
    right: -20px;
}

.part2 .bottom-left {
    bottom: -15px;
    left: -20px;
}

.part2 .bottom-right {
    bottom: -15px;
    right: -20px;
}

/* Task 3 */
/* ============================================= */ 
.lePere {
    width: 400px;
    margin: 20px auto;
}

.html,
.css,
.java {
    background-color: #eee;
    padding: 10px;
    margin-top: 20px;
    list-style-type: none;
    font-family: sans-serif;
}

.css ol {
    list-style-type: upper-roman;
}

li {
    margin-bottom: 5px;
    background-color: #fff;
}

/* Task 4 */
/* ============================================= */ 
h1 {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.maTable {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

table {
    width: 700px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid #009b8b;
}

table td {
    border-spacing: 2px;
    background-color: #eee;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;

}

table thead td {
    background-color: #404040;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

table td #red,
table td #blue {
    color: white;
    border-radius: 0px;
    border: none;
    height: 25px;
    font-weight: bold;
}

#red {
    background-color: #ff0056;
}

#blue {
    background-color: #00a6f8;
}