/* Task 1 */
/* ============================================= */
.assign-1-shape-1,
.assign-1-shape-2,
.assign-1-shape-3 {
    width: 500px;
    height: auto;
    display: block;
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
}

.assign-1-shape-1 {
    background: blueviolet;
    background: rgb(138, 43, 226);
    background: #8a2be2;
    background: hsl(271.1, 75.9%, 52.7%);
}

.assign-1-shape-2 {
    background: rgb(138 43 226 / 50%);
}

.assign-1-shape-3 {
    background: rgb(138 43 226 /10%);
}

/* Task 2 */
/* ============================================= */
.container1,
.container2,
.container3 {
    border: 3px solid rgb(138 43 226 /50%);
    display: block;
    float: left;
    margin: auto;
    margin-bottom: 30px;
    margin-right: 30px;
}

.container1 .assign-2-shape-1,
.container1 .assign-2-shape-2,
.container1 .assign-2-shape-3,
.container1 .assign-2-shape-4 {
    background: rgb(228, 225, 225);
    width: 400px;
    height: 400px;
    display: inline;
    padding: 10px 15px;
    float: left;
    margin: 30px;
    border: 1px solid;
    color: white;
    background-image: url(back.png);
}

.container1 .assign-2-shape-1 {
    background-repeat: no-repeat;
}

.container1 .assign-2-shape-2 {
    background-repeat: repeat-y;
}

.container1 .assign-2-shape-3 {
    background-repeat: repeat-x;
}

.container1 .assign-2-shape-4 {
    background-repeat: repeat;
}

/* Task 3 */
/* ============================================= */
.container2 .assign-3-shape-1,
.container2 .assign-3-shape-2,
.container2 .assign-3-shape-3,
.container2 .assign-3-shape-4 {
    background: rgb(228, 225, 225);
    width: 400px;
    height: 400px;
    padding: 10px 15px;
    display: inline;
    float: left;
    margin: 30px;
    color: white;
    background-image: url(back.png);
}

.container2 .assign-3-shape-1 {
    background-repeat: no-repeat;
}

.container2 .assign-3-shape-2 {
    background-repeat: repeat-y;
    background-position: right;
}

.container2 .assign-3-shape-3 {
    background-repeat: repeat-x;
    background-position: bottom;
}

.container2 .assign-3-shape-4 {
    background-repeat: repeat;
}

/* Task 4 */
/* ============================================= */
.container3 .assign-4-shape-1,
.container3 .assign-4-shape-2,
.container3 .assign-4-shape-3,
.container3 .assign-4-shape-4 {
    background: rgb(228, 225, 225);
    width: 400px;
    height: 400px;
    padding: 10px 15px;
    display: inline;
    float: left;
    margin: 30px;
    color: white;
    background-image: url(back.png);
}

.container3 .assign-4-shape-1 {
    background-repeat: no-repeat;
    background-size: 80% 80%;
}

.container3 .assign-4-shape-2 {
    background-repeat: repeat-y;
    background-position: right;
    background-size: 80%;
}

.container3 .assign-4-shape-3 {
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 80%;
}

.container3 .assign-4-shape-4 {
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;
    background-size: 50%;
}