/* Task 1 & 2 */
/* ============================================= */
.part1,
.part2 {
    border: 5px solid gray;
    background: linear-gradient(85deg,
            rgb(255, 255, 255),
            rgb(238, 228, 93));
    padding: 10px;
    margin: 60px;
    font-size: 16px;
    font-weight: bold;
    width: 500px;
    margin: auto;
}

.parent,
.title,
h1 {
    text-align: center;
}

h1 {
    text-decoration: wavy;
    text-decoration: underline;
    text-shadow: 3px 3px 3px rgb(128, 82, 82);
}

div {
    display: block;
    justify-content: center;
    align-items: center;
}

.child .title {
    color: red;
}

span:nth-child(2) {
    color: blue;
}

.title,
p {
    color: green;
}

.box1,
.box2,
.box3,
.box4 {
    display: block;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    border: 5px solid rgb(182, 41, 41);
    background-color: rgb(182, 41, 41);
    max-width: 400px;
    max-height: 40px;
    padding: 20px 10px;
    margin: 20px;
    width: fit-content;
}